<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="keywords" content="
        медовыйпапа
        медовый папа
        honey
        honey father 
        сахар
        мёд
        Медовый
        мед
        натуральный 
        свежий
        новый 
        качественный 
        хороший 
        вкусный 
        дешевый 
        мытищи 
        лучший 
        вкусный
        приятный
        подарок
        сладость
        детям
        взрослым ">
    <title>Медовый Папа</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/header.css" type="text/css">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link rel="stylesheet" href="/footer.css" type="text/css">
    <link rel="icon" href="/logo.png" type="image/x-icon">
</head>
<body>
    <%- include('blocks/header') -%>
    <div class = "upward" onclick="scrollToTop()"></div>
    <div class="container-shop">
        
        <div class="catalog"> <!--Не забыть подключить каждый товар к поиску (хедер)-->
            <div class="filter-price"></div> <!--Сортировка по цене (пользователь выставляет сам цену https://woodmart.xtemos.com/shop/?per_row=3&shop_view=grid)-->
            <div class="filter-category"> <!--Сортировка по категориям (продавец может создавать категории и добавлять буда товар)-->

            </div> 
            <div class="product-status"> <!--Статус "В продаже" и "В наличии"-->

            </div>
        </div>
        <div class="goods">
            <div class="parent1-container">
                <div class="sort"> <!--Сортировка по: Дефолт (как составлял продавец), популярности, лучший рейтинг, последние добавления, по цене: с низкой до высокой и наоборот-->
                
                </div>
                <div class="parent1">
                    <%
                        const productsPerPage = 15; 
                        const totalProducts = productName.length;
                        const totalPages = Math.ceil(totalProducts / productsPerPage);
                        const currentBlock = 1; 
                        const startIdx = (currentBlock - 1) * productsPerPage;
                        for (let i = startIdx; i < Math.min(startIdx + productsPerPage, totalProducts); i++) {
                    %>
                    
                        <div class="good" id="good<%= i %>">
                            <a  class="nav" href = <%= productLink[i] %>>
                            <img class = "good-image" src="<%= productPhoto[i] %>">
                            <div class="text-good-container">
                                
                                    <% const truncatedProductName = productName[i].length > 51 ? productName[i].substring(0, 51 - 3) + '...' : productName[i]; %>
                                    <h1><%= truncatedProductName %></h1>
                                    <h2><%= productPrice[i] %>₽</h2>
                                
                            </div> 
                            </a> 
                            <div class="buttons-line">
                                <div class="buy-to-cart1">В корзину</div>
                                <div class="wishlist3"></div>
                                <div class="compare3"></div>
                            </div>
                        </div>
                    
                    <% } %>
                </div>
            </div>
        </div>
        <div class="pages-container">
            <ul class="pages">
                <% for (let page = 1; page <= totalPages; page++) { %>
                    <li class="pages-number" onclick="goToPage(<%= page %>)"><%= page %></li>
                <% } %>
            </ul>
        </div>
    </div>
<script src="/scripts/upward.js"></script>
<script src="/scripts/search.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<%- include('blocks/footer') -%>
</body>
</html>