<!DOCTYPE html>
<html lang="ru">
<head>
    <%- include('blocks/standartMeta') -%>
    <link rel="stylesheet" href="/styles/product.css" type="text/css">
</head>
<body>
    <%- include('blocks/header') -%>
    <%- include('blocks/upward') -%>
    <div class="container-shop2">  
        <div class="con-shop">
            <div class="list-photo"> <!--Слайдер фотографий (бесконечное добавление фотографий (ограничение на 10)) как на вб https://www.wildberries.ru/catalog/13641482/detail.aspx-->

                <div class="product-slider-container">
                    <div class = "product-pictures-container">
                        <button class="change-img"><ion-icon name="chevron-up-outline"></ion-icon></button>
                            <div class="product-slider" id="product-slider">
                                <% productPhotos.forEach((photo, index) => { %>
                                    <div class = "product-image-cover">
                                        <img class="product-img" src="/product_photos/<%= photo %>" onmouseover="changeImage('<%= photo %>')">
                                    </div>
                                <% }); %>
                            </div>
                        <button class="change-img"><ion-icon name="chevron-down-outline"></ion-icon></button>
                    </div>
                    <div class="enlarged-image" id="enlarged-image">
                        <img src="/product_photos/<%= productPhotos[0] %>">
                    </div>
                </div>

            </div> <!--Слайдер фотографий (Выборочное фото)-->
            <div class="goods-info">
                <div class="path">
                    <p><%= productPath %></p> <!--Создание пути до товара (с рабочими переходами) https://woodmart.xtemos.com/shop/other/food/aliquet-rhoncus/-->
                </div>
                <h1 class="name"><%= productName %></h1>
                <h2 class="price"><%= productPrice %>₽</h2>
                <p class="description"><%= productDescription %></p>
                <div class="to-cart">
                    <div class="quantity">
                        <button id="button1">&#10094;</button>
                        <div id="text-block">1</div>
                        <button id="button2">&#10095;</button>
                    </div> <!--Выбор количества-->
                    <div class="buy-to-cart">В корзину</div> <!--Добавить в корзину-->
                </div>
                <div class="panel">
                    <div class="compare"> <!--При добавлении: картинка меняется и текст сносится-->
                        <div class="compare1"></div>
                        <p class="compare2">Сравнить</p>
                    </div> <!--Система сравнения товаров-->
                    <div class="wishlist"> <!--При добавлении: картинка меняется и текст сносится-->
                        <div class="wishlist1"></div>
                        <p class="wishlist2">В любимое</p>
                    </div> <!--Добавить в любимое-->
                </div>
                <hr>
                <h3>Характеристики и описание</h3>
                <input type="checkbox" class="read-more-checker" id="read-more-checker" />
                <div class="limiter">
                    <div class="characteristic">
                        <p><strong>Полезные свойства:</strong></p> <p><%= productGoods %></p> <!--Поставить необязательным фактом-->
                        <p><strong>Способ приготовления:</strong></p> <p><%= productCooking %></p><!--Поставить необязательным фактом-->
                        <p><strong>Состав:</strong></p> <p><%= productCompound %></p>
                        <p><strong>Пищевая ценность на 100 г продукта:</strong></p>
                        <ul>
                            <p class="list">белки - <%= productProtein %> г</p>
                            <p class="list">жиры - <%= productFats %> г</p> 
                            <p class="list">углеводы - <%= productCarbs %> г</p> 
                        </ul>
                        <p><strong>Энергетическая ценность: </strong><%= productEnergeticValue %> кКал (<%= (productEnergeticValue * 4.1868).toFixed(2) %> кДж)</p>
                        <p><strong>Срок годности:</strong></p> <p><%= productSuitability %></p>
                        <p><strong>Масса нетто:</strong> <%= productMass %> г</p>
                    </div>
                    <div class="bottom"></div>
                </div>
                <label for="read-more-checker" class="read-more-button"></label>
            </div>
        </div>
    </div>
<script src="/scripts/slider-product.js"></script>
<script src="/scripts/search.js"></script>
<script src="/scripts/productImages.js"></script>
<%- include('blocks/footer') -%>
</body>
</html>